.mainContent
{
    background : white;
    margin-left: 5% ;
    margin-right: 5% ;
    margin-top : 1%;
    box-shadow: 0 3px 8px rgba(197, 197, 197, 0.377), 0 6px 7px rgba(197, 197, 197, 0.377);
  
}

.cardContainer
{
    margin-left: 5% ;
    margin-right: 5% ;
    margin-top : 1%;
}

.sensorsContainer
{
    padding-left:4%;
    padding-right:4%;
    margin-top:3%;
    text-align: center;
    margin-bottom: 3%;
   
}

.livestreamContainer
{
    margin-top:2%;
    margin-bottom: 2%;
    margin-left:2%;
    text-align: center;
}

.livestream
{
    margin-top : 2%;
}

.rec rec-carousel-wrapper
{
    border : none;

}

.rec-dot_active {
    background-color: red;
   border: 1px solid white;
   box-shadow: 0cm;
  }
  
  .rec rec-dot{
    background-color: red;
    color: red;

  }

  .slider
  {
      padding:3%;
  }

.slick-prev:before, .slick-next:before {
  color:rgb(212, 212, 212)!important;
}

