.logo
{
    margin-right: 1%;
}

.formAddVanne
{
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
}

.formAddProgr
{
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
}

.modifVanne
{
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
}

.modifProg
{
    margin-top: 3%;

}

.instructionsForm
{
    text-align: center;
}
